*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black
}

main {
    background-color: rgb(3, 7, 48);
    padding-top: 50px;
}


nav {
    display: flex;
    font-size: 28px; /* font nav*/
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    background-color: #010616; /*fondo del nav bar*/
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.redes {
    display: flex; 
    flex-direction: row; /* Alinea los íconos de redes sociales en fila */
    align-items: stretch;
}

.redes a {
    display: flex;
    margin-left: 4px; /* Espacio entre íconos */

}

ul li.right {
    margin-left: auto; /* Empuja el bloque de redes sociales hacia la derecha */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

ul li {
    margin-right: 20px;
    
}
a {
    display: block;
    padding: 8px;
     /* color del rectangulo */
    color: white; /* color de la fuente */
    font-size: 40px; /* font nav*/
    text-decoration: none;
}

a:hover{
    color: white;
    background-color:#7695FF;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1em;
}


nav img {
    width: 24px;
    height: 24px;
    margin-left: 10px; /* Espacio entre íconos */

}

/* Estilo básico del carousel */
.carousel {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
    }

    .carousel-inner {

    display: flex;
    transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover; /* Mantiene las imágenes centradas y cubre el área del contenedor */
    }
    .carousel-item img {
    width: 100%;
    display: block;
    }

    /* Estilo de los botones de control (anterior/siguiente) */
    .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    }

    .prev {
    left: 10px;
    }

    .next {
    right: 10px;
    }

    /* Estilo de los indicadores (los puntos) */
    .carousel-indicators {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    }

    .carousel-indicators button {
    border: none;
    background-color: #ccc;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    }

    .carousel-indicators button.active {
    background-color: #333;
    }




.presentacion{
    background-color:#7695FF; 
    color: aliceblue;
}

img{
    width: 100%;
    
}    
.row{
    display: flex;
    padding: 5px;
}
.column{
    flex:25%;
    padding: 5px;
}



/* -------------VIDEOS--------------- */

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 15px; /*espacio entre los cuadros*/
}

.video-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-box iframe {
    width: 100%;
    height: 200px;
    border: none;
}

/* --------------------ACERCA DE-------------------- */
.container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    gap: 20px; /* Espacio entre el texto y la imagen */

    min-height: 300px; 
    padding: 20px;
}

.container:hover {
    background-position: left;
    cursor: pointer;
}

.text {
    flex: 1;
    text-align: center; /* Alineación del texto */
    padding: 20px;
    background-image: url('images/productora.jpeg'); 
    background-size: cover; /* Escalar la imagen para que cubra todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    color: white; /* Cambiar el color del texto para mejor visibilidad */
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
    border-radius: 10px; / borde redondeado;
}

h1.acercade{
    color:mediumblue;
    text-align: center;
    font-weight: 900;
    font-size:x-large
}

h2.somos {
    text-align: center;
    color: white;
    font-weight: 200;
}


.image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; /* Para darle un estilo más suave a la imagen */
}

/* PARA EL FORMUALRIO DE CONTACTO*/
div.contacto {
    background-color: #FFD7C4;
    padding: 25px;
    border: 3px solid #7695FF;
    border-radius: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*float: right;*/
    margin:0 auto;
    
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    
    background-color: #9DBDFF;
    color: whitesmoke;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #FF9874;
}


h1{
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

h2 {
    text-align: center;
    color: white;
}


